.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: flex-start;

    @media screen and (min-width: 1200px){
        margin-bottom: 34px;
        justify-content: center;
    }

    
}

// .filter-item:not(:last-child){
//     margin-right: 8px;
// }

.filter-item {
    margin-right: 8px;
    margin-bottom: 15px;
}

.filter-btn {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background: #F5F4FA;
    color: var(--main-text-color);
    font-family: inherit;
    cursor: pointer;

    transition-property: color, background-color, box-shadow ;
    transition-duration: var(--duration-time);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    &.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}



