.submit-wrap{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.submit-title{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.submit-fild{
    // display: flex;
}

.submit-input{
    width: 100%;

    // width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    
    // margin-right: 12px;

    margin-bottom: 20px;

    color: var(--primary-white-color);
    &::placeholder{
    color: rgba(255, 255, 255, 0.6);
    }
}

.submit-btn{
    
    position: relative;
    
    min-width: 200px;
    padding: 10px 28px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.submit-icon-send{
    position: absolute;
    
    right: 28px;
    bottom: 13px;
    fill: var(--primary-white-color);
}