.connect{
    width: 206px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px){
        margin-left: 0;
        margin-right: 0;
    }
    @media screen and (min-width: 1200px){
        margin-right: 93px;
        margin-left: 0;
        margin-bottom: 0;
        text-align: left;
    }
}

.connect-title {
    font-size: 14px;
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.connect-soc-list {
    display: flex;
}

.connect-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color, border-radius ;
    transition-duration: var(--duration-time);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
    }
}

.connect-item-icon {
    fill: var(--primary-white-color);
    transition-property: fill;
    transition-duration: var(--duration-time);
    transition-timing-function: var(--timing-function);
    .connect-soc-link:hover &,
    .connect-soc-link:focus & {
    fill: var(--primary-white-color);
    }
}

.connect-soc-item {
    & + & {
        margin-left: 10px;
    }
}