.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A; 
}

.footer-container {
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        
    }
    @media screen and (min-width: 1200px){
        flex-wrap: nowrap;
        align-items: baseline;
    }
}

.footer-first {
    @media screen and (min-width: 768px){
        margin-left: 76px;
    }
    @media screen and (min-width: 1200px){
        margin-right: 70px;
        margin-left: 0;
    }
}

.footer-logo{
    display: block;
    width: 154px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px){
        display: inline-block;
        text-align: left;
    }
}

.footer-logo-part{
    display: inline-block;
    color: var(--primary-white-color);
}

.footer-link{
    font-weight: 400;
    line-height: 1.71;
}

.footer-addr-wrap{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px){
        text-align: left;
        margin-bottom: 0;
    }
}

.footer-addres {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px){
        margin-bottom: 9px;
    }
}

.footer-addr {
    font-style: normal;
    color: var(--primary-white-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px){
        margin-bottom: 9px;
    }
}

.link-footer {
    color: rgba(255, 255, 255, 0.6);
}