.header {
    border-bottom: 1px;
    border-bottom-color: #ECECEC;
    .container{
        @extend %align-list;
    }
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.header-logo{
    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

.header-logo-part{
    color: #000000;
}

.header-navigation {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-list{
    @extend %align-list;
}

.header-item:not(:last-child) {
    position: relative;
    margin-right: 50px;
}

.header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-connect{
    @media screen and (max-width: 767px) {
        display: none;
    }
    margin-left: auto;
}

.header-list-connect{
    display: block;
    @media screen and (min-width: 1200px){
        display: flex;
    }
}

.header-item-connect{
    @media screen and (min-width: 768px){
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    } 

    @media screen and (min-width: 1200px){
        &:not(:last-child) {
            margin-right: 50px;
             margin-bottom: 0;
        }
    }
}

.header-link-cont{
    @media screen and (min-width: 768px){
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--sercondary-text-color);
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }  
}

.header-link, 
.header-link-cont, 
.header-link, 
.header-link-cont,  
.logo, 
.link-footer, 
.link-footer {
    transition-property: color ;
    transition-duration: var(--duration-time);
    transition-timing-function: var(--timing-function);
}

.header-link:hover, 
.header-link-cont:hover, 
.header-link:focus, 
.header-link-cont:focus, 
.current, 
.logo:focus, 
.link-footer:focus, 
.link-footer:hover {
    color: var(--accent-color);
}

.heder-icon-tel,
.heder-icon-mail {
    fill: currentColor;
    margin-right: 10px;
}

.header-link-now::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color) ;
}