:root {
    --sercondary-text-color: #757575;
    --main-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --duration-time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
